ANMP_TOWN_HALL_URL=https://anmp.pt/municipios/municipios/contactos/?cod=MUN
ANMP_MUNICIPAL_ASSEMBLY_URL=https://anmp.pt/municipios/municipios/contactos/?cod=AM
HF_API_KEY=
DATABASE_URL=postgres://minha_regiao:minha_regiao@localhost:9001/minha_regiao
