ANMP_TOWN_HALL_URL=https://anmp.pt/municipios/municipios/contactos/?cod=MUN
ANMP_MUNICIPAL_ASSEMBLY_URL=https://anmp.pt/municipios/municipios/contactos/?cod=AM
HF_API_KEY=
HF_DATASET_REPO_ID=minharegiao/portuguese-elections
CITY_DATASET_REPO_ID=minharegiao/portuguese-geo
CITY_DATASET_CONFIG_NAME=cities
PRESIDENTIAL_ELECTION_RESULTS_FILENAME=raw/presidential/PR_2026_Globais.xlsx
DATABASE_URL=postgres://minha_regiao:minha_regiao@localhost:9001/minha_regiao
