ANMP_TOWN_HALL_URL=https://anmp.pt/municipios/municipios/contactos/?cod=MUN
ANMP_MUNICIPAL_ASSEMBLY_URL=https://anmp.pt/municipios/municipios/contactos/?cod=AM
ELECTION_RESULTS_DATASET_REPO_ID=minharegiao/portuguese-elections
PRESIDENTIAL_ELECTION_RESULTS_FILENAME=raw/presidential/PR_2026_Globais.xlsx
CITY_DATASET_CONFIG_NAME=cities
