ELECTION_RESULTS_DATASET_REPO_ID=minharegiao/portuguese-elections
PRE_2013_ELECTION_RESULTS_FILENAME=raw/presidential/PR_2006.xlsx
POST_2013_ELECTION_RESULTS_FILENAME=raw/presidential/PR_2021_Globais.xlsx
POST_2021_ELECTION_RESULTS_FILENAME=raw/presidential/PR_2026_Globais.xlsx
PARISH_DATASET_CONFIG_NAME=parishes
LOAD_TARGETS=["json"]
